/opencms.project.template/nbproject/private/
/opencms.project.template/dist/
/opencms.project.template/build/
/net.componio.opencms.projectstructure.plugin/nbproject/private/
/net.componio.opencms.projectstructure.plugin/build/
/net.componio.nbDriva.module.suite/nbproject/private/
/net.componio.nbDriva.module.suite/org-apache-tools-ant-module/nbproject/private/
/net.componio.nbdriva.module.suite/org-apache-tools-ant-module/nbproject/private/
/net.componio.nbDriva.module.suite/build/
/net.componio.nbdriva.module.suite/build/
/net.componio.nbDriva.module.suite/org-apache-tools-ant-module-library-wrapper/build/
/net.componio.nbdriva.module.suite/org-apache-tools-ant-module-library-wrapper/build/
/net.componio.nbdriva.module.suite/org-apache-tools-ant-module-library-wrapper/nbproject/private/
/net.componio.nbdriva.module.suite/nbproject/private/
opencms.project.template/lib/pack.jar