/opencms.project.template/nbproject/private/
/opencms.project.template/dist/
/opencms.project.template/build/
/net.componio.opencms.projectstructure.plugin/nbproject/private/
/net.componio.opencms.projectstructure.plugin/build/